.Appli {
    // cursor: url('../video/cat.png') 32 32, auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-45deg, #f38462, #e73c7e, #3567d1,#f5e618 );
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}