.Entete {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.712);
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.342);
  .nom{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar h5{
    display: none;
  }

  @media screen and (min-width: 700px){
    .avatar h5{
      display: block;
    }
  }
}